<style>
  
.bor1 {
    border-radius: 18px;
}
.bg1 {
    background-color: rgba(255,255,255,.8);
}
.wsize1 {
    max-width: 100%;
    width: 880px;margin: 0 auto;
}

}
.p-r-15 {
    padding-right: 15px;
}
.p-l-15 {
    padding-left: 15px;
}
.p-b-45 {
    padding-bottom: 45px;
}
.p-t-175 {
    padding-top: 135px;
}
  .xz{
  -webkit-tap-highlight-color: transparent;
box-sizing: border-box;
touch-action: manipulation;
margin: 0;
overflow: visible;
outline: none;
border: none;
display: block;
width: 100%;
background: 0 0;
font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", sans-serif;
font-size: 15px;
color: #846add;
line-height: 1.4;
height: 100%;
padding: 0 20px;
  }
  .z{
  -webkit-tap-highlight-color: transparent;
font-weight: 400;
line-height: 1.5;
font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", sans-serif;
font-size: 15px;
color: #666;
padding: 0;
box-sizing: border-box;
width: 220px;
max-width: calc(100% - 10px);
background-color: #e6e6e6;
height: 40px;
border: 0 solid transparent;
border-radius: 5px;
position: relative;
margin: 20px 5px 0;
  }
  .sa{
  -webkit-tap-highlight-color: transparent;
font-weight: 400;
padding: 0;
box-sizing: border-box;
margin: 0;
padding-top: 33px;
padding-bottom: 28px;
text-align: center;
font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", sans-serif;
font-size: 25px;
color: #999;
line-height: 1.2;
  }
  
  
li {
 -webkit-tap-highlight-color: transparent;
  font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", sans-serif;
font-weight: 400;
line-height: 1.5;
text-align:center;
font-size: 15px;
color: #666;
padding: 0;
box-sizing: border-box;
display: inline-block;
align-items: center;
justify-content: center;
flex-direction: column;
width: 90px;
height: 100px;
background-color: #333;
border-radius: 10px;
margin: 0 18px 25px;
}

li span {
  -webkit-tap-highlight-color: transparent;
font-weight: 400;
margin: 0;
padding: 0;
box-sizing: border-box;
padding-bottom: 2px;
font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", sans-serif;
font-size: 36px;
line-height: 2.2;
color: #fff;
}
  .a{
  -webkit-tap-highlight-color: transparent;
font-weight: 400;
margin: 0;display:block;font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", sans-serif;
padding: 0;
box-sizing: border-box;
line-height:0;
font-size: 14px;
color: #fff;

  }
  @media all and (min-width:768px){
    .ds{
    text-align:center;
    }
    #shopify-section-password-content{
    padding-top:40px;
    }
  }
  
  .btn::after, .btn--secondary::after{
  outline:unset !important;
  }
  
  @media all and (max-width:767px){
    .xz{
    display:block !important;
    }
    #ff{padding-left:0 !important;}
    
    #fd{min-width:100% !important;margin-bottom:10px;}
   .input-group__field, .input-group__btn{
    display:block !important;
    }
  
  }
  
</style>
<script>
const second = 1000,
      minute = second * 60,
      hour = minute * 60,
      day = hour * 24;

let countDown = new Date('feb 24, 2020 00:00:00').getTime(),
    x = setInterval(function() {

      let now = new Date().getTime(),
          distance = countDown - now;

      document.getElementById('days').innerText = Math.floor(distance / (day)),
        document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)),
        document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)),
        document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second);
      
      //do something later when date is reached
      //if (distance < 0) {
      //  clearInterval(x);
      //  'IT'S MY BIRTHDAY!;
      //}

    }, second)
</script>


<div class="wsize1 bor1 bg1 p-t-175 p-b-45 p-l-15 p-r-15 respon1" role="main" data-section-id={{ section.id }} data-section-type="password-content">
    <img style="width:100%;max-width:220px;" class="site-header__logo-image" src="{{ 'logo.png' | asset_url }}" alt="REECH" itemprop="logo">
<h4 class="sa" class="password-sub-heading">{{ section.settings.newsletter_form_heading }}</h4>

  <ul class="ds">
    <li><span id="days"></span><span class="a">Days</span></li>
    <li><span id="hours"></span><span class="a">Hours</span></li>
    <li><span id="minutes"></span><span class="a">Minutes</span></li>
    <li><span id="seconds"></span><span class="a">Seconds</span></li>
  </ul>
  
 
  {% if section.settings.newsletter_enable %}
    <div class="password-signup">
      {% form 'customer' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <ul class="form-success">
          <li style="width: 100%;
    height: auto;
    color: white;
    padding: 15px;
    margin: 0;">{{ 'general.password_page.signup_form_success' | t }}</li>
        </ul>
      {% else %}
        
        <input type="hidden" name="contact[tags]" value="prospect, password page">
        <label for="email" class="label--hidden">{{ 'general.password_page.signup_form_email_label' | t }}</label>
        <div class="input-group">
          <div class="input-group__field">
            <input style="border-radius:10px;" class="s1-txt2 placeholder0 input100 xz" type="email" name="contact[email]" id="email" placeholder="{{ section.settings.newsletter_placeholder }}">
          </div>
          <div id="ff" style="padding-left:10px;" class="password-form-btn input-group__btn">
            <button id="fd" style="    letter-spacing: 1px;
    font-size: 14px;min-width:180px;background-color:#212121;border:2px solid #212121;border-radius:10px;" type="submit" name="commit" class="btn">{{ section.settings.newsletter_button_text }}</button>
          </div>
         
        </div>
      {% endif %}
      {% endform %}
       <p style="font-size: 14px;
    color: #999;
    line-height:1;text-align:center">We promise to <span style="text-decoration:underline" class="bor2">never</span> spam</p>
    </div>
  {% endif %}

  {% if section.settings.show_share_buttons %}
    <div class="password-social-sharing">
      <p class="password-sub-heading h4">{{ section.settings.social_message }}</p>
      {% include 'social-links', disableTab: true, largeIcons: true %}
    </div>
  {% endif %}

</div>

<div class="password-modal">
  <button type="button" class="btn btn--clear password-modal__close">
    {% include 'icon-close' %}
    <span class="icon__fallback-text">{{ 'general.password_page.close_modal' | t | json }}</span>
  </button>
  <div class="password-modal__content text-center">
    <h4 class="password-sub-heading">{{ 'general.password_page.login_form_heading' | t }}</h4>
    <div class="password-login">
      {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <div class="input-group">
        <div class="input-group__field z">
          <label for="password" class="label--hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
          <input class='password-modal__input' type="password" name="password" id="password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
        </div>
        <div class="input-group__btn">
          <button type="submit" name="commit" class="btn">
            {{ 'general.password_page.login_form_submit' | t }}
          </button>
        </div>
      </div>
      {% endform %}
      <div class="password-sub-action">
        <p>{{ 'general.password_page.admin_link_html' | t }}</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Content",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Heading",
      "default": "Opening Soon"
    },
    {
      "type": "header",
      "content": "Newsletter signup"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": "Show newsletter signup",
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": "Newsletter form heading",
      "default": "Find out when we open",
      "info": "[Tell your visitors about the launch date](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": "Newsletter label text",
      "default": "Email address"
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": "Newsletter Button label",
      "default": "Submit"
    },
    {
      "type": "header",
      "content": "Social sharing"
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social sharing buttons",
      "default": true
    },
    {
      "type": "text",
      "id": "social_message",
      "label": "Social sharing buttons heading",
      "default": "Spread the word"
    }
  ]
}
{% endschema %}
