<div class="transparency-section">
    <div class="transparency-section--header">
        <h2>100% transparency</h2>
        <p>No such thing as TMI, we show you where your money goes with every REECH mat you purchase.</p>
    </div>
    <div class="transparency-section--carousel">
        <p>(our average costs) ⟶</p>
        <div class="transparency-section--carousel--items">
            <div class="transparency-section--carousel--items--item">
                <div class="transparency-section--carousel--items--item--img">
                    {{ 'pyramid.png' | file_url | img_tag }}
                </div>
                <h4 class='transparency-section--carousel--items--item--title'>Manufacturing</h4>
                <p class='transparency-section--carousel--items--item--price'>$30</p>
                <p class='transparency-section--carousel--items--item--desc'>The most expensive and highest quality yoga mat produced today.</p>
                <button class="bttn">the truth <span>i</span></button>
            </div>
            <div class="transparency-section--carousel--items--item">
                <div class="transparency-section--carousel--items--item--img">
                    {{ 'shipping.png' | file_url | img_tag }}
                </div>
                <h4 class='transparency-section--carousel--items--item--title'>Shipping</h4>
                <p class='transparency-section--carousel--items--item--price'>$23</p>
                <p class='transparency-section--carousel--items--item--desc'>This cost includes all transportation involved.</p>
                <p class='transparency-section--carousel--items--item--shipping'>(Free US Shipping)</p>
                <button class="bttn">sustainability <span>i</span></button>
            </div>
            <div class="transparency-section--carousel--items--item">
                <div class="transparency-section--carousel--items--item--img">
                    {{ 'marketing.png' | file_url | img_tag }}
                </div>
                <h4 class='transparency-section--carousel--items--item--title'>Marketing</h4>
                <p class='transparency-section--carousel--items--item--price'>$10</p>
                <p class='transparency-section--carousel--items--item--desc'>Whether you've seen an ad of ours on social media or you're referred by a yogi, about $10 goes to marketing.</p>
            </div>
            <div class="transparency-section--carousel--items--item">
                <div class="transparency-section--carousel--items--item--img">
                    {{ 'overhead.png' | file_url | img_tag }}
                </div>
                <h4 class='transparency-section--carousel--items--item--title'>Overhead</h4>
                <p class='transparency-section--carousel--items--item--price'>$9</p>
                <p class='transparency-section--carousel--items--item--desc'>Keeping things running and the people that work on REECH paid fairly.</p>
            </div>
            <div class="transparency-section--carousel--items--item">
                <div class="transparency-section--carousel--items--item--img">
                    {{ 'eco-packaging.png' | file_url | img_tag }}
                </div>
                <h4 class='transparency-section--carousel--items--item--title'>Eco-packaging</h4>
                <p class='transparency-section--carousel--items--item--price'>$2</p>
                <p class='transparency-section--carousel--items--item--desc'>We use recyclable & biodegradable packaging materials.</p>
                <p class="transparency-section--carousel--items--item--plastics">plastic free</p>
            </div>
            <div class="transparency-section--carousel--items--item">
                <div class="transparency-section--carousel--items--item--img">
                    {{ 'processing.png' | file_url | img_tag }}
                </div>
                <h4 class='transparency-section--carousel--items--item--title'>Processing</h4>
                <p class='transparency-section--carousel--items--item--price'>$2.75</p>
                <p class='transparency-section--carousel--items--item--desc'>To process each order, we're charged roughly $2.75 to complete the transaction.</p>
            </div>
            <div class="transparency-section--carousel--items--item">
                <h4 class='transparency-section--carousel--items--item--title'>Charity <span>20% profits</span></h4>
                <p class='transparency-section--carousel--items--item--desc'>Of the little profits we make per-order, we donate 20% of our profits to organizations working on some of our planets most urgent issues.</p>
                <button class="bttn">the impact <span>i</span></button>
            </div>

        </div>
    </div>
    <div class="transparency-section--pinky-promise">
        <h2>Our pinky promise {{ 'pinky-promise.png' | file_url | img_tag }}</h2>
        <p>Your happiness is our #1 priority. We stand by our yoga mat 100%. If for any reason you aren't happy, return it within 30 days for a full refund, no questions asked. (we pinky promise)</p>
        <div class="stars-container">
            {{ 'stars.png' | file_url | img_tag }}
            <p>73 REVIEWS</p>
        </div>
        <button class="bttn">Try now</button>
    </div>
</div>